*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* #description{ /* id selector 1000 puana eşit CSS'te
    color: aqua;
    text-align: center;
} */

/* #root{
    background-color: black;
    height: 100vh;
} */

body{
    background-color: lightblue;
}

h1{
    text-align: center;
    margin-top: 20px;
}
